.beerImage {
   	margin-left: 1.5em;
   	margin-right: 1.5em;
   	margin-top: 1em;
   	margin-bottom: 1em;
   	max-height:100px;
}

.beers-container, .welcome{
	margin: 0 auto;
	text-align: center;
}

.welcome{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.beer-container{
	display: inline-block;
	margin: 0.4em;
	padding: 1px;
	width: 12em;
}

.beer-container:hover{
	background-color: #FFECB3;
}

.beer-container-best:hover{
	background-color: #fff;
}

.beer-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

.beer-tagline{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

.beer-count-container{
}

.va {
	vertical-align: middle;
	cursor: pointer;
}

.beer-count{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.login{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #FFC107;
	background-image: url("/img/beer.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	z-index: 10;
}

.logo{
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -150px;
	margin-top: -80px;
	cursor: pointer;
}

.logoHome{
	max-height:75px;
}

.input {
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -154px;
	margin-top: -120px;
	width: 15em;
	background: transparent;
	border-bottom: 3px solid #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #1a1a1a;
	text-align: center;
}

.input:focus {
	outline: none;
}

.title-best{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.best-container{
	padding-top: 1em;
	padding-bottom: 1.5em;
	height: 18.5em;
}