<div ng-controller="home-ctrl as home">

    
    <div class="welcome w3-panel default-primary-color w3-card-4">
        <img src="/img/BeBeerLogo.png" class="logoHome" alt="BeBeer"> <br>
        <span>Welcome <br> {{home.username}}</span>
    </div>
    
    <div ng-show="home.startZero" class="beers-container best-container w3-panel light-primary-color w3-card-4">
        <span class="title-best">Your Best Beers</span> <br>
        <div class="w3-card beer-container beer-container-best" ng-repeat="beer in home.bestBeers">
            <img class="beerImage" ng-src="{{beer.image_url}}">
            <div class="beer-title" title="{{beer.name}}" >{{beer.name}}</div>
            <div class="beer-tagline" title="{{beer.tagline}}" >{{beer.tagline}}</div>
            <span ng-show="home.userbeers[beer.id] != undefined" class="beer-count">{{home.userbeers[beer.id]}}</span>
        </div>
    </div>
    <br>
    <div class="beers-container" infinite-scroll='home.nextPage()' infinite-scroll-disabled='home.busy' infinite-scroll-distance='1'>
        <div class="w3-card beer-container" ng-repeat="beer in home.data">
            <img class="beerImage" ng-src="{{beer.image_url}}">
            <div class="beer-title" title="{{beer.name}}" >{{beer.name}}</div>
            <div class="beer-tagline" title="{{beer.tagline}}" >{{beer.tagline}}</div>
            <div class="beer-count-container" ng-click="home.addBeer(beer.id)">
                <span ng-show="home.userbeers[beer.id] != undefined" class="beer-count">{{home.userbeers[beer.id]}}</span>
                <span class="fas fa-beer fa-2x va dark-primary-color-text" ></span>
                <!-- <span ng-show="home.userbeers[beer.id] == undefined" class="fas fa-beer fa-2x va accent-color-text" ></span> -->
            </div>
        </div>
    </div>
</div>