<div ng-controller="login-ctrl as login" class="login">
    <input ng-model="login.username" class="w3-input input" type="text" placeholder="Nombre de Usuario" ng-keypress="login.enter($event)">
    <img src="/img/BeBeerLogo.png" class="logo" alt="BeBeer" ng-click="login.enter({which:13})">
</div>